
* { margin: 0;
    padding:0;
    font-family: arial;
}
.header{
    width:100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    padding-left: 40px;
}
nav a{
    color:white;
    font-size:20px;
    text-decoration: none;
    width: 150px;
    text-align: center;
    font-weight: bold;

}
 nav img{
    width: 100px;
    margin:0;

 }
 .nav-link{
    flex:1;
    text-align: right;
 }   
.nav-link ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position:relative;
}
.nav-link ul li a{
    color:white;
    font-size:13px;
    text-decoration: none;
}
.nav-link ul li::after {
    content:'';
    width:0%;
    height:2px;
    background-color: #ffe357;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width:100%;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-link ul li {
        display:block;
    }
    .nav-link{
        position: absolute;
        background:#ffe253;
        height:100vh;
        width:200px;
        right:0;
        top:0;
        text-align:left;
        z-index:2;
    }
    .row{
        flex-direction: column;
    }
    .testimonial-col img{
        margin-left:0px;
        margin-right: 15px;
    }
    .cta h1{
        font-size:24px;
    }
}


/*footer*/
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E8B57;
    color: #fff;
    padding: 10px;
    flex-direction: row;
    height:50px;
    bottom: 0;
    width: 100%;
}
.footer-container p{
    color:white;
}
.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}
.social-icon a {
    color: #ffffff;
}

.social-icon a:hover i.fa-facebook {
    color: #1877f2;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-instagram {
    color: #e4405f;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-x-twitter {
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-linkedin {
    color: #0077b5;
    transition: color 0.3s ease-in-out;
}